* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  text-decoration: none !important;
  list-style: none !important;
  scroll-behavior: smooth !important;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Forum&display=swap");
@import url(./as.css);

/* font-family*/
.ff_Montserrat {
  font-family: "Montserrat" !important;
}

.ff_forum {
  font-family: "Forum", cursive;
}

:root {
  --fs-5xl: 35px;
  --fs-4xl: 29px;
  --fs-3xl: 20px;
  --fs-2xl: 30px;
  --fs-xl: 30px;
  --fs-lg: 35px;
  --fs-md: 24px;
  --fs-sm: 23px;
  --fs-xsm: 20px;
  --color-clr_black: #000000 !important;
  --color-clr_white: #ffffff !important;
  --color-clr_white_1: #f5efef !important;
  --color-clr_white: #f5efef !important;
  --color-bg_white_1: #e3e3e3;
  --color-clr_light_black: #181818 !important;
  --color-bg_black: #1e1e1e;
  --color-clr_grey: #606060 !important;
  --color-clr_input: #404040;
  --clr-back-grey: rgba(217, 217, 217, 0.5);
}

.clr_black {
  color: var(--color-clr_black) !important;
}

.clr_white {
  color: var(--color-clr_white) !important;
}
.bg_white {
  background-color: var(--color-clr_white) !important;
}

.clr_white_1 {
  color: var(--color-clr_white_1) !important;
}

.clr_light_black {
  color: var(--color-clr_light_black) !important;
}

.clr_grey {
  color: var(--color-clr_grey) !important;
}

.bg_black {
  background-color: var(--color-bg_black) !important;
}

.bg_light_black {
  background-color: var(--color-clr_light_black);
}

.clr_grey {
  color: var(--color-clr_grey) !important;
}

.clr_imput {
  color: var(--color-clr_input) !important;
}

/* font_size */

.fs_5xl {
  font-size: var(--fs-5xl);
}

.fs_4xl {
  font-size: var(--fs-4xl);
}

.fs_3xl {
  font-size: var(--fs-3xl);
}

.fs_2xl {
  font-size: var(--fs-2xl);
}

.fs_xl {
  font-size: var(--fs-xl);
}

.fs_lg {
  font-size: var(--fs-lg);
}
.fs_md {
  font-size: var(--fs-md);
}
.fs_sm {
  font-size: var(--fs-sm);
}

.fs_xsm {
  font-size: var(--fs-xsm);
}

/* font-weight */
.fw_400 {
  font-weight: 400;
}

.fw_500 {
  font-weight: 500;
}

.fw_700 {
  font-weight: 700 !important;
}

.fw_900 {
  font-weight: 900 !important;
}

@media (min-width: 576px) {
  :root {
    --fs-5xl: 60px;
    --fs-4xl: 60px;
    --fs-3xl: 50px;
    --fs-2xl: 45px;
    --fs-xl: 40px;
    --fs-lg: 35px;
    --fs-md: 32px;
    --fs-sm: 30px;
    --fs-xsm: 20px;
  }
}

@media (min-width: 768px) {
  :root {
    --fs-5xl: 80px;
    --fs-4xl: 60px;
    --fs-3xl: 50px;
    --fs-2xl: 45px;
    --fs-xl: 40px;
    --fs-lg: 35px;
    --fs-md: 32px;
    --fs-sm: 30px;
    --fs-xsm: 20px;
  }
}
@media (min-width: 992px) {
  :root {
    --fs-5xl: 100px;
    --fs-4xl: 60px;
    --fs-3xl: 50px;
    --fs-2xl: 45px;
    --fs-xl: 40px;
    --fs-lg: 35px;
    --fs-md: 25px;
    --fs-sm: 30px;
    --fs-xsm: 20px;
  }
}
@media (min-width: 1200px) {
  :root {
    --fs-5xl: 90px;
    --fs-4xl: 60px;
    --fs-3xl: 50px;
    --fs-2xl: 45px;
    --fs-xl: 40px;
    --fs-lg: 35px;
    --fs-md: 32px;
    --fs-sm: 30px;
    --fs-xsm: 20px;
  }
}
@media (min-width: 1330px) {
  :root {
    --fs-5xl: 100px;
    --fs-4xl: 60px;
    --fs-3xl: 50px;
    --fs-2xl: 45px;
    --fs-xl: 40px;
    --fs-lg: 35px;
    --fs-md: 32px;
    --fs-sm: 30px;
    --fs-xsm: 20px;
  }
}
@media (min-width: 1400px) {
  :root {
    --fs-5xl: 100px;
    --fs-4xl: 60px;
    --fs-3xl: 50px;
    --fs-2xl: 45px;
    --fs-xl: 40px;
    --fs-lg: 35px;
    --fs-md: 32px;
    --fs-sm: 30px;
    --fs-xsm: 20px;
  }
}
